/* ==================================================
Fonts
================================================== */

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700');

/* ==================================================
Basic Settings
================================================== */

*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}
*:-moz-placeholder {
    color: #666;
    opacity: 1;
}
*::-moz-placeholder {
    color: #666;
    opacity: 1;
}
*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}
* {
    box-sizing: border-box;
}
body {
    font: 16px 'Montserrat', sans-serif;
    /*background: #7924b6;*/
    min-width: 320px;
    line-height: 1.75;
    overflow-x: hidden;
    opacity: 1;
}
ul,
ol {
    list-style: none;
}
strong {
    font-weight: 700;
}
a {
    text-decoration: none;
}
p {
    margin: 0;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    text-transform: uppercase;
    text-align: center;
    line-height: 1.4;
    margin: 0;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    /*outline: 1px solid #09c;*/
}

/* ==================================================
Section - Header
================================================== */

.site-header {
    background: url(../images/header-bg.jpg) no-repeat center/cover;
    color: #fff;
    padding-top: 252px;
    position: relative;
    z-index: 1;
}
.site-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #7924b6, #1d6fa2);
    opacity: .7;
    z-index: -1;
}
.site-header p:first-child {
    font: 300 1.25em 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: .5px;
    position: absolute;
    top: 55px;
    left: 25px;
}
.header-btns {
    position: absolute;
    top: 52px;
    left: calc(50% - 113px);
}
.header-btns a {
    font-size: .75em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 17px 25px;
    transition: background .25s ease-in;
}
.header-btns a:first-child {
    background: #333e49;
    border-radius: 15px 0 0 15px;
}
.header-btns a:last-child {
    background: #2c3946;
    border-radius: 0 15px 15px 0;
}
.header-btns a:hover {
    background: #252e35;
}
.site-header p:nth-of-type(2),
.site-header p:nth-of-type(3) {
    font: 700 .875em 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}
.h1 {
    font: 100 3.125em 'Montserrat', sans-serif;
    text-transform: initial;
    letter-spacing: 2px;
    background: #139ec8;
    margin: 22px 15% 27px;
    padding: 22px 0;
}
.site-header p:nth-of-type(4) {
    font: 300 1.375em 'Montserrat', sans-serif;
    text-align: center;
    line-height: 1.5;
    padding: 80px 20% 19%;
}
.bottom-line {
    background: linear-gradient(90deg, rgba(121,36,182,.7), rgba(29,111,162,.7));
}
.header-services {
    width: 25%;
    float: left;
    font-size: .75em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding: 50px 15px;
    position: relative;
}
.bottom-line .fa {
    font-size: 60px;
    margin-bottom: 35px;
}
.header-services::after {
    content: '';
    position: absolute;
    right: 0;
    top: 10%;
    width: 1px;
    height: 80%;
    background: linear-gradient(transparent, #9c9c9c, transparent);
}
.header-services:last-child::after {
    background: transparent;
}
/* Hamburger */
.hamburger {
    position: absolute;
    top: 55px;
    right: 15px;
}
.hamburger--spin {
    padding: 0;
}
.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    background: #fff;
    border-radius: 0;
    width: 30px;
    height: 2px;
}
.hamburger-inner:before {
    top: -8px;
}
.hamburger-inner:after {
    bottom: -8px;
}
.hamburger-name {
    font-size: .875em;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    right: 50px;
}
/* My-Menu */
html.mm-opened {
    overflow-y: scroll;
}
.mm-panel > .mm-hasnavbar .mm-opened {
    right: -18px;
}
.mm-navbar {
    position: relative;
    border-bottom: none;
    padding: 5px 40px;
}
.mm-navbar .mm-title {
    font: 300 1.25em 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: .5px;
}
.mm-panels>.mm-panel {
    padding: 0;
}
.mm-listview>li:not(.mm-divider):after {
    display: none;
}
.mm-panels>.mm-panel:after,
.mm-panels>.mm-panel:before {
    height: 0;
}
.mm-panels>.mm-panel>.mm-listview:first-child,
.mm-panels>.mm-panel>.mm-navbar+.mm-listview {
    font-size: .938em;
    text-transform: capitalize;
    margin: 20px 0 0;
}
.mm-menu.mm-theme-dark .mm-listview>li.mm-selected>a:not(.mm-next),
.mm-menu.mm-theme-dark .mm-listview>li.mm-selected>span {
    color: orange;
}
.mm-listview > li > a {
    padding: 12px 30px;
}
.mm-listview > li > a:hover {
    color: orange;
    transition: color .3s;
}
.mm-listview > li > a::before {
    content: '\f2dd';
    font-family: fontawesome;
    margin-right: 11px;
    font-size: .875em;
}

/* ==================================================
Section - Recent Work
================================================== */

.s-recent-work {
    background: #f2f5f8;
    padding: 162px 0 100px;
}
.h2 {
    font: 500 .875em 'Montserrat', sans-serif;
    color: rgba(1,1,1,.65);
    letter-spacing: 8px;
}
.h2 + p {
    font: 300 1.5em 'Montserrat', sans-serif;
    color: rgba(0,0,0,.65);
    text-align: center;
    padding: 35px 15% 50px;
}
.side-1,
.side-2 {
    width: 50%;
    float: left;
    padding: 100px 0;
}
.side-1 {
    background: url(../images/cloud-1.png) no-repeat left/contain;
    padding-right: 50px;
}
.side-2 {
    background: url(../images/cloud-2.png) no-repeat right/contain;
    padding-left: 50px;
}
.coaching {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(1,1,1,.1);
    max-width: 465px;
    padding: 70px 70px 30px;
}
.side-1 .coaching {
    float: right;
}
.side-2 .coaching {
    float: left;
}
.coaching > p:first-child,
.coaching > a:last-child {
    font: 500 .75em 'Montserrat', sans-serif;
    color: rgba(1,1,1,.4);
    letter-spacing: 2.5px;
    text-transform: uppercase;
}
.h3 {
    font: 500 1.125em 'Montserrat', sans-serif;
    line-height: 1.4;
    text-transform: initial;
    text-align: initial;
    padding: 17px 0 25px;
}
.h3 ~ p {
    font-size: .938em;
    color: rgba(1,1,1,.65);
    line-height: 1.6;
    padding-bottom: 25px;
}
.button {
    font: 600 .75em 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: table;
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 15px 35px;
    background: linear-gradient(45deg, #356de3, #7b44d7);
    border-radius: 20px;
    color: #fff;
    border: none;
    outline: none;
}
.button .fa {
    margin-right: 5px;
}
@keyframes swing {
    15% {
        transform: translateX(9px);
    }
    30% {
        transform: translateX(-9px);
    }
    40% {
        transform: translateX(6px);
    }
    50% {
        transform: translateX(-6px);
    }
    65% {
        transform: translateX(3px);
    }
    100% {
        transform: translateX(0);
    }
}
.swing:hover {
    animation: swing 1s;
}
.social {
    margin-bottom: 14px;
}
.social p {
    font-size: .75em;
    color: rgba(1,1,1,.65);
    text-transform: uppercase;
    padding-bottom: 15px;
}
.social a {
    color: #fff;
    background: #bababa;
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    transition: background .7s;
}
.social a:hover {
    background: #000;
}
.coaching > a:last-child {
    transition: color .5s;
}
.coaching > a:last-child:hover {
    color: #000;
}

/* ==================================================
Section - 
================================================== */



/* ==================================================
Section - 
================================================== */



/* ==================================================
Section - 
================================================== */



/* ==================================================
Section - 
================================================== */



/* ==================================================
Section - 
================================================== */


