/* ==================================================
Fonts
================================================== */

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700');

/* ==================================================
Basic Settings
================================================== */

*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}
*:-moz-placeholder {
    color: #666;
    opacity: 1;
}
*::-moz-placeholder {
    color: #666;
    opacity: 1;
}
*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}
body {
    font: 16px 'Montserrat', sans-serif;
    min-width: 320px;
    line-height: 1.75;
    overflow-x: hidden;
    opacity: 1;
}
ul,
ol {
    list-style: none;
}
p {
    margin: 0;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    text-transform: uppercase;
    line-height: 1.4;
    margin: 0;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* ==================================================
Section - 
================================================== */



/* ==================================================
Section - 
================================================== */



/* ==================================================
Section - 
================================================== */



/* ==================================================
Section - 
================================================== */



/* ==================================================
Section - 
================================================== */



/* ==================================================
Section - 
================================================== */



/* ==================================================
Section - 
================================================== */


